@page "/settings"

@inject IGsoNavigationManager GsoNavManager
@inject IGsoHeaderManager GsoHeaderMan

<div class="gso-page" style="padding: 1rem;">
    <div style="border: 4px dashed var(--mud-palette-tertiary)">
        <h3>Hello from the settings page!</h3>
        <br>
        <div id="lipsum">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tellus lorem. Aenean ut laoreet velit. Nullam non urna vehicula sapien tempus sollicitudin. Pellentesque vitae pellentesque felis. Nullam faucibus molestie turpis sit amet semper. Nunc laoreet est tellus, et maximus massa fringilla vitae. Sed hendrerit cursus dolor sed consequat. Nullam ut nisl at ipsum varius fermentum sit amet in ligula. Praesent vestibulum quis elit eu sagittis. Nam feugiat leo vitae mi pellentesque sodales. Integer malesuada hendrerit faucibus. Morbi id tellus ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce tristique, ex et rhoncus tristique, libero odio fermentum dolor, id tristique massa sapien ut augue. Etiam quis euismod urna, eget consequat justo.</p>
            <p>Aliquam finibus tempus odio, vitae porttitor nibh dignissim ac. Vestibulum tellus justo, finibus a mi nec, dignissim luctus magna. Vivamus lacinia diam in eleifend lobortis. Proin lobortis hendrerit blandit. Donec mollis porttitor nulla in ullamcorper. Nulla tempus orci sed interdum elementum. Aliquam erat volutpat. Aliquam sodales vitae lacus sed gravida. Morbi lacus nisl, accumsan eget lacus ut, faucibus maximus quam.</p>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras egestas nec nibh dictum interdum. Proin sollicitudin magna leo, eu aliquet arcu interdum eget. Proin luctus laoreet turpis, vel aliquam metus convallis at. In eu placerat lorem, nec porta ligula. Morbi at nulla ac nisi egestas porta eu ut nibh. In malesuada arcu in augue finibus mollis. Fusce consequat varius lacinia. Ut vulputate auctor posuere.</p>
            <p>Mauris eget leo id leo vehicula iaculis. Quisque eget vehicula metus. Curabitur massa felis, consequat vel bibendum et, luctus eu felis. Sed vestibulum ante pellentesque aliquet dictum. Curabitur eget lacinia dolor. Vestibulum faucibus vulputate pulvinar. Morbi tempor bibendum est. Pellentesque ultrices semper ipsum, sit amet placerat mauris laoreet a. Quisque leo risus, vulputate quis laoreet vestibulum, commodo et turpis. Maecenas ut fringilla lorem. Phasellus neque quam, aliquam eu molestie et, porttitor et mi. Sed fermentum nibh nisi. Suspendisse pretium dignissim lacinia. Proin iaculis, augue sed tempus dignissim, nulla eros facilisis augue, ut vulputate velit est sed nisl. Morbi molestie, tortor in ultrices scelerisque, tortor ex consectetur mauris, vitae lobortis nibh dui vel odio.</p>
            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce porta interdum est, ut facilisis enim ullamcorper nec. Quisque porttitor ut dolor ac blandit. Donec quis scelerisque massa. Mauris in velit porttitor, tempor nisl nec, egestas nisi. Nulla commodo euismod lorem, ut pellentesque mi vehicula at. Nunc pellentesque tortor ante, id facilisis lectus molestie quis. Donec pharetra ex quis odio ultrices, ut pellentesque diam imperdiet. Suspendisse vestibulum, magna a gravida scelerisque, neque dui lacinia justo, et dignissim libero turpis et libero. Vivamus tincidunt arcu quis venenatis tincidunt. Etiam pellentesque pellentesque arcu fringilla sodales. Fusce eget est sit amet ligula aliquam aliquet ut in metus.</p>
            <p>Aenean sed faucibus eros. Cras nec interdum dolor, non lacinia elit. Suspendisse tincidunt sollicitudin tempor. Phasellus sodales lorem est, a dapibus sem mattis at. Proin porta dignissim tempus. Fusce in odio suscipit, eleifend nibh et, sodales odio. Aliquam ex ante, cursus at enim vitae, cursus hendrerit quam. Duis hendrerit mauris vel massa pretium, et pharetra nulla blandit.</p>
            <p>Duis accumsan fringilla justo, quis accumsan dui semper vel. Duis euismod felis nisl, sed fringilla urna ultricies sit amet. Aenean finibus est in finibus suscipit. Vestibulum vulputate posuere ex, at placerat sapien tincidunt sit amet. Cras faucibus, enim quis facilisis pretium, arcu lectus tincidunt dui, at lacinia arcu nisi vel purus. Maecenas est diam, malesuada et convallis a, luctus sit amet justo. Cras sollicitudin eros aliquet mauris dignissim rutrum. Quisque eget facilisis nunc.</p>
            <p>Nullam non nisi ullamcorper, tristique justo eget, tristique tellus. Morbi eleifend massa in odio sollicitudin, a ullamcorper velit commodo. Praesent a lorem ac nibh efficitur auctor. Sed fringilla porttitor tellus. Praesent augue sapien, vehicula sodales placerat et, condimentum eu nisl. Donec accumsan diam non neque vehicula, sed faucibus orci rhoncus. Ut malesuada blandit varius.</p>
            <p>Integer cursus venenatis ornare. Pellentesque egestas urna a vehicula mattis. Quisque posuere id urna eu varius. Suspendisse tempus lacus felis, quis vehicula purus faucibus non. Duis congue sed urna non fermentum. Donec non dolor magna. Aliquam tincidunt euismod mattis. Ut laoreet erat at lacus dapibus, sed varius tortor cursus. Suspendisse consectetur, metus at tempor elementum, lacus tortor luctus justo, in mattis nisl magna nec turpis.</p>
            <p>Maecenas sagittis, metus quis cursus dictum, mauris turpis dignissim dolor, non semper sapien leo in dui. Donec pulvinar est a elit efficitur malesuada. Etiam id metus ut augue feugiat scelerisque et ut erat. Quisque in orci non tellus interdum pretium. Aenean sagittis vehicula pellentesque. Aenean dui ante, aliquam sed risus eleifend, vulputate congue metus. Cras fringilla urna mauris, ut malesuada lorem mattis vel. Nulla fermentum massa vitae eleifend tempor. Fusce eu purus in tortor condimentum dapibus. Quisque eu ante erat. Aliquam non varius massa, vel mollis elit. Proin ullamcorper, eros non facilisis scelerisque, orci libero pellentesque lectus, nec porta sapien velit sed metus. Vivamus luctus vitae risus id iaculis.</p>
        </div>
        <br>
        <MudButton OnClick="GoBack" Variant="Variant.Filled" Color="Color.Primary">Go Back</MudButton>
    </div>
</div>

@code {
    protected override void OnInitialized() {
        GsoHeaderMan.Initialize("GSO - Settings", "", new GsoAction[] { new GsoAction("Go back", Icons.Outlined.Map, GoBack, null, Color.Tertiary) });
    }

    void GoBack() {
        GsoNavManager.NavigateTo("/");
    }
}