@inject IJSRuntime JSRuntime

<div style="position: absolute; top: 150px; right: 0px;" class="map-btn">
    <MudIconButton Class="map-btn" Icon="@Icons.Material.Filled.Layers" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Medium" OnClick="LoadGeoJson" />
</div>

@code {
    protected override async Task OnInitializedAsync() {
        await MapExtensions.Instance.InitializeAsync(JSRuntime);
    }

    async Task LoadGeoJson() {
        await MapExtensions.Instance.LoadGeoJson();
    }
}